html {
  background-color: #8f7b29;
}

main {
  padding: 0 20px 20px 20px;
  margin: 0 auto;
  width: 60%; 
  background-color: #dcc039;
}

#editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}
